
<div class="loader is-hidden" data-loader aria-hidden="true">
    <div class="spinner" aria-label="Завантаження"></div>
</div>


<div class="toasts" data-toasts></div>

<div class="modal-backdrop " data-animal-modal-backdrop>
    <div class="modal" role="dialog" aria-modal="true" aria-labelledby="animalModalTitle">
        <button class="modal-close" type="button" aria-label="Закрити" data-animal-modal-close>
            ✕
        </button>

        <div class="modal-content">
            <div class="modal-left">

                <img class="modal-img" data-animal-img alt="">
                  
            </div>

            <div class="modal-right">
                <h2 id="animalModalTitle" class="modal-title" data-animal-species></h2>

                <p class="modal-row">
                    <span class="modal-label">Кличка:</span>
                    <span data-animal-name></span>
                </p>

                <p class="modal-row">
                    <span class="modal-label">Вік:</span>
                    <span data-animal-age></span>
                    <span class="modal-sep" aria-hidden="true">•</span>
                    <span class="modal-label">Стать:</span>
                    <span data-animal-sex></span>
                </p>

                <div class="modal-block">
                    <h3 class="modal-subtitle">Опис</h3>
                    <p class="modal-text" data-animal-description></p>
                </div>

                <div class="modal-block">
                    <h3 class="modal-subtitle">Здоров'я та поведінка</h3>
                    <p class="modal-text" data-animal-health></p>
                    <p class="modal-text" data-animal-behavior></p>
                </div>

                <button class="btn btn-primary" type="button" data-take-home>
                    Взяти додому
                </button>
            </div>
        </div>
    </div>
</div>
  