<section class="footer">
  <div class="container footer-container">
    <a href="index.html" class="footer-logo" aria-label="На головну">
      <svg class="footer-logo-icon" width="302" height="130">
        <use href="/img/sprite.svg#icon-logo"></use>
      </svg>
    </a>

    <nav class="footer-nav">
      <ul class="footer-nav-list">
        <li><a href="#about">Про нас</a></li>
        <li><a href="#pets">Знайти друга</a></li>
        <li><a href="#faq-section">Часті запитання</a></li>
        <li><a href="#stories">Історії успіху</a></li>
      </ul>
    </nav>

    <ul class="footer-social">
      <li>
        <a href="https://www.facebook.com/" target="_blank" rel="noopener noreferrer" aria-label="Facebook">
          <svg class="footer-social-icon" width="32" height="32">
            <use href="/img/sprite.svg#icon-Facebook"></use>
          </svg>
        </a>
      </li>

      <li>
        <a href="https://www.instagram.com/" target="_blank" rel="noopener noreferrer" aria-label="Instagram">
          <svg class="footer-social-icon" width="32" height="32">
            <use href="/img/sprite.svg#icon-Instagram"></use>
          </svg>
        </a>
      </li>
    </ul>
  </div>
  <div class="footer-divider"></div>
  <p class="footer-copyright">© <span id="copyright-year"></span> Хатинка лапок. Всі права захищені.</p>
</section>


