<div class="container header-container">
  <div class="header-content-desktop">
    <a href="index.html" class="header-logo">
      <svg class="header-logo-icon" width="159" height="68">
        <use href="/img/sprite.svg#icon-logo"></use>
      </svg>
    </a>
    <nav class="nav-desktop">
      <ul class="nav-list-desktop">
        <li><a href="#pets">Знайди друга</a></li>
        <li><a href="#about">Про нас</a></li>
        <li><a href="#faq-section">Часті запитання</a></li>
        <li><a href="#stories">Історії успіху</a></li>
      </ul>
    </nav>
    <a href="#pets" class="anchor-link-pets">Взяти друга</a>
  </div>
  <button class="burger-button-header" type="button" data-menu-open>
    <svg width="24" height="24">
      <use href="/img/sprite.svg#icon-menu"></use>
    </svg>
  </button>
</div>


