<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../css/hero.css">
</head>

<body>
    <section>
        <div>
            <h1>Кожне життя має значення. Знайди свого вірного друга</h1>
            <p>Сотні котиків та собачок у притулку Хатинка Лапок чекають на свою родину. Подаруйте їм дім.</p>
            <a href="" class="button">Подивитись історії</a>
        </div>
    </section>
</body>

</html>