<div class="mobile-menu" data-menu>
  <div class="navbar-header">
    <a href="index.html" class="mobile-menu-logo">
      <svg class="navbar-header-icons" width="160" height="69">
        <use href="/img/sprite.svg#icon-logo"></use>
      </svg>
    </a>
    <button class="navbar-button-close">
      <svg class="menu-icon" width="24" height="24">
        <use href="/img/sprite.svg#icon-close"></use>
      </svg>
    </button>
  </div>
  <div class="header-wrapper">
    <ul class="header-wrapper-list">
      <li class="header-wrapper-items">
        <a href="#pets" class="header-wrapper-text">Знайди друга</a>
      </li>
      <li class="header-wrapperr-items">
        <a href="#about" class="header-wrapper-text">Про нас</a>
      </li>
      <li class="header-wrapper-items">
        <a href="#faq-section" class="header-wrapper-text">Часті запитання</a>
      </li>
      <li class="header-wrapper-items">
        <a href="#stories" class="header-wrapper-text">Історії успіху</a>
      </li>
    </ul>
    <button class="header-wrapper-btn">Взяти друга</button>
  </div>
</div>
