<section class="pets-list-section">
  <div class="container pets-list-container">
    <h1>Наші хвостики</h1>
    <p>Вони дуже чекають на знайомство з вами</p>
    <ul class="filter-pet-list">
      <li><button type="button" class="filter-pet-list-button">Всі</button></li>
      <li>
        <button type="button" class="filter-pet-list-button">Собаки</button>
      </li>
      <li>
        <button type="button" class="filter-pet-list-button">Коти</button>
      </li>
      <li>
        <button type="button" class="filter-pet-list-button">Кролики</button>
      </li>
      <li>
        <button type="button" class="filter-pet-list-button">Гризуни</button>
      </li>
      <li>
        <button type="button" class="filter-pet-list-button">Птахи</button>
      </li>
      <li>
        <button type="button" class="filter-pet-list-button">
          Тварини з особливими потребами
        </button>
      </li>
      <li>
        <button type="button" class="filter-pet-list-button">
          Терміново шукають дім
        </button>
      </li>
    </ul>
    <ul class="pets-list"></ul>
    <button type="button" class="add-more-pets">Показати ще</button>
  </div>
</section>
