  #about {
    padding-top: 64px;
    padding-bottom: 64px;
}
.about-title {
    margin-bottom: 40px;
    text-align: center;
    font-size: 36px;
}
.swiper-slide {
    position: relative;
    margin-bottom: 24px;
}
.swiper-slide::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(180deg,
    rgba(0, 0, 0, 0.18) 0%,
    rgba(0, 0, 0, 0.63) 100%);
    z-index: 10;
    pointer-events: none;
}
.swiper-content p {
    color: #F6F4F1;
    position: absolute;
    left: 20px;
    right: 20px;
    bottom: 20px;
    z-index: 11;
}
#about .swiper-controls {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
    height: 64px;
}
#about .swiper-pagination {
    position: static;
    width: auto;
    --swiper-theme-color: #02060A;
}
#about .swiper-pagination-bullets-dynamic {
    transform: translateX(0);
}
.swiper-buttons {
    display: flex;
    gap: 8px;
    margin-left: auto;
    margin-right: 8px;
}
#about .swiper-button {
    border: 1px solid #C3B49D;
    border-bottom: 1px solid #C3B49D;
    border-radius: 8px;
    background-color: #EEE9E3;
    --swiper-navigation-size: 48px;
    padding: 12px;
    transition: border 0.2s ease, box-shadow 0.2s ease, opacity 0.2s ease;
}
#about .swiper-button:hover,
#about .swiper-button:focus {
    border: 1px solid rgba(2, 6, 10, 0.6);
}
#about .swiper-button:active {
    border: 1px solid rgba(2, 6, 10, 0.6);
    box-shadow: inset 0 4px 6px -2px rgba(0, 0, 0, 0.03), inset 0 12px 16px -4px rgba(0, 0, 0, 0.08);
}
#about .swiper-button-prev,
#about .swiper-button-next {
    position: static;
    transform: none;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}
.swiper-button-icon {
    fill: #02060A;
    stroke: #02060A;
}
@media only screen and (min-width: 768px) {
    #about .about-container {
            position: relative;
        }
    #about .swiper {
        position: static;
        overflow: hidden;
    }
    .swiper-content p {
        width: 548px;
        left: 32px;
        bottom: 32px;
    }
    #about .swiper-controls {
        position: static;
        display: block;
        height: 28px;
    }
    #about .swiper-pagination {
        display: block;
        margin: 0 auto;
    }
    #about .swiper-button-prev,
    #about .swiper-button-next {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        z-index: 20;
        margin: 0;
    }
    #about .swiper-button-prev {
        left: 6px;
    }
    #about .swiper-button-next {
        right: 6px;
    }
}
@media only screen and (min-width: 1440px) {
    .swiper-content p {
        font-size: 18px;
        left: 64px;
        bottom: 64px;
    }
    #about .swiper-button-prev {
        left: 36px;
    }
    #about .swiper-button-next {
        right: 36px;
    }
}