:root {
  font-family: "IBM Plex Sans",  sans-serif;
  font-size: 16px;
  line-height: 1.5;
  font-weight: 400;

  color: #02060a;
  background-color: #f6f4f1;
}

body {
  
  display: flex;
  flex-direction: column;
  gap: 0px;
  width: 100%;
  min-height: 100vh;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
}
