.FAQ-section ul {
    list-style-type: disc;
    list-style-position: outside;
    padding-left: 25px;
}

.FAQ-section ol {
    list-style-type: decimal;
    list-style-position: outside;
    padding-left: 25px;
}


#faq-section .ac-trigger {
    font-family: "IBM Plex Sans", sans-serif;   
}

#faq-section .ac-text {
    font-family: "IBM Plex Sans", sans-serif;
    font-size: 14px;
}

.FAQ-section {
    display: flex;
    flex-direction: column;
    gap: 40px;
    margin: 64px 0;
}

/* Заголовок */

.FAQ-main-title {
    text-align: center;
}

.accordion-container {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

#faq-section .ac {
    padding: 20px 24px;
    display: flex;
    flex-direction: column;
    background-color: rgba(238, 233, 227, 1);
}

.ac-trigger {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.ac-list li+li {
    margin-top: 5px;
}

.ac-panel {
    font-size: 14px;
}

/* Styles for Desktop devices */
@media only screen and (min-width: 1440px) {
    .FAQ-main-title {
        font-size: 48px;
    }

    #faq-section .ac-trigger {
        font-size: 18px;
    }

    #faq-section .ac-panel,
    #faq-section .ac-text {
    font-size: 16px;
    }
}
