.FAQ-section ul {
    list-style-type: disc;
    list-style-position: inside;
}

.FAQ-section ol {
    list-style-type: decimal;
    list-style-position: inside;
}

.accordion-container .ac .ac-trigger {
    font-family: "IBM Plex Sans", sans-serif;   
}

.accordion-container .ac .ac-panel .ac-text {
    font-family: "IBM Plex Sans", sans-serif;
    font-size: 14px;
}

.FAQ-section {
    display: flex;
    flex-direction: column;
    gap: 40px;
    margin: 64px 0;
}

/* Заголовок */

.FAQ-main-title {
    text-align: center;
}

.accordion-container {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.ac {
    padding: 20px 24px;
}

.ac-trigger {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.ac-panel {
    font-size: 14px;
}
