.footer {
    background-color: #c3b49d;
    padding: 48px 20px;
}

.footer-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 32px;
    text-align: center;
    padding-bottom: 80px;
}

.footer-logo {
    display: flex;
    align-items: center;
    color: #332C22;
}


.footer-nav-list {
    display: flex;
    flex-direction: column;
    gap: 32px;
    font-weight: 600;
    font-size: 12px;
    color: #02060a
}

.footer-nav a {
    transition: opacity 0.2s ease;
}

.footer-nav a:hover,
.footer-nav a:focus {
    opacity: 0.7;
}

.footer-social {
    display: flex;
    gap: 24px;
}

.footer-divider {
    border: 1px solid rgba(2, 6, 10, 0.15);
    margin-bottom: 32px;
}

.footer-copyright {
    text-align: center;
    font-size: 14px;
    font-weight: 400;
    color: #02060a;
    opacity: 0.7;
}

@media only screen and (min-width: 768px) {
    .footer-nav-list {
        flex-direction: row;
    }

    .footer {
        padding: 48px 32px;
    }
}

@media only screen and (min-width: 1440px) {
    .footer {
        padding: 64px;
    }

}