.footer {
    background-color: #c3b49d;
    padding: 48px 0;
}

.footer-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 32px;
    text-align: center;
    margin-bottom: 80px;

}

.footer-logo {
    display: flex;
    align-items: center;
    fill: #332C22;
}

.footer-nav-list {
    display: flex;
    flex-direction: column;
    gap: 32px;
    font-weight: 600;
    font-size: 12px;
    color: #02060a
}

.footer-nav a {
    text-decoration: none;
    border-bottom: 1px solid transparent;
    transition: color 0.2s ease, border-color 0.2s ease;
}

.footer-nav a:hover,
.footer-nav a:focus {
    border-bottom-color: #443B2E;
}

.footer-nav a:active {
    color: #88765C;
    border-bottom-color: #88765C;
}


.footer-social {
    display: flex;
    gap: 24px;
}

.footer-social-icon {
    transition: fill 0.2s ease;
}

.footer-social-icon:hover,
.footer-social-icon:focus {
    fill: #88765C;
}

.footer-divider {
    border: 1px solid rgba(2, 6, 10, 0.15);
    margin-bottom: 32px;
    margin-left: 20px;
    margin-right: 20px;
}

.footer-copyright {
    text-align: center;
    font-size: 14px;
    font-weight: 400;
    color: #02060a;
}

@media only screen and (min-width: 768px) {
    .footer-nav-list {
        flex-direction: row;
    }

    .footer {
        padding: 48px 32px;
    }

    .footer-divider {
        margin-left: 0;
        margin-right: 0;
    }
}

@media only screen and (min-width: 1440px) {
    .footer {
        padding: 64px;
    }

}
