*{
    border: 0;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
section{
    background-image: url(../img/pesikit-linear-mob.jpg);
    background-size: cover;
    background-position: center;
    padding: 64px 20px 115px 20px;
    max-width: 375px;
    margin-left: auto;
    margin-right: auto;
}
h1{
    font-family: "Open Sans", sans-serif;
font-weight: 700;
font-size: 40px;
line-height: 120%;
letter-spacing: -0.01em;
color: #fff;
margin-bottom: 24px;
}
p{
    font-family: "IBM Plex Sans", sans-serif;
font-weight: 400;
font-size: 16px;
line-height: 150%;
color: #fff;
margin-bottom: 32px;
}
.button{
text-decoration: none;
border-radius: 8px;
padding: 12px 24px;
width: 171px;
height: 45px;
background: #88765c;
font-family: "IBM Plex Sans", sans-serif;
font-weight: 400;
font-size: 14px;

line-height: 150%;
color: #fff;
}
.button:disabled{
    border: 1px solid #88765c;
    background: #88765c;
    opacity: 0.3;
    color: #fff;
}
.button:active{
    border: 1px solid #88765c;
    box-shadow: inset 0 4px 6px -2px rgba(0, 0, 0, 0.03), inset 0 12px 16px -4px rgba(0, 0, 0, 0.08);
    background: #eee9e3;
    color: #02060a;
}
.button:hover{
    border: 1px solid #88765c;
    background: #eee9e3;
    color: #02060a;
}
button:focus{
    border: 1px solid #88765c;
    background: #eee9e3;
    color: #02060a;
}
@media screen and (min-width:768px){
    section{
        background-image: url(../img/pesikit-linear-tablet.jpg);
        max-width: 768px;
        padding: 64px 114px 235px 32px;
    }
    h1{
        font-size: 40px;
    }
    p{
        font-size: 16px;
        width: 512px;
    }
    button{
        width: 171px;
        height: 45px;
        font-size: 14px;
    }
}
@media screen and (min-width:1440px){
    section{
    background-image: url(../img/pesikit-linear.jpg);
    background-size: cover;
    padding: 128px 754px 413px 64px;
    max-width: 1440px;
}
h1{
font-size: 56px;
}
p{
font-size: 18px;
}
button{
width: 189px;
height: 48px;
font-size: 16px;
}
}