.pets-list-section {
    text-align: center;
}

.pets-list-section h1 {
    margin-top: 64px;
    font-size: 36px;
    line-height: 1.2;
    letter-spacing: -0.01em;
}

.pets-section-subtitle {
    margin-top: 16px;
}

.filter-pet-list {
    margin-top: 32px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 0;
}

.filter-pet-list-button {
    border-radius: 100px;
    font-size: 14px;
    background-color: transparent;
    border-color: transparent;
    outline: none;
    padding: 10px 16px;
    transition: background-color 0.2s ease;
}

.filter-pet-list-button:hover {
    font-weight: 500;
    background-color: #EEE9E3;
}

.pets-list {
    margin-top: 32px;
}

.add-more-pets {
    margin-top: 40px;
    width: 335px;
    height: 45px;
    border: 1px solid #88765C;
    border-radius: 8px;
    padding: 12px 24px;
    background-color: #88765C;
    color: #FFFFFF;
    transition: color 0.2s ease, background-color 0.2s ease, box-shadow 0.2s ease;
}

.add-more-pets:hover {
    color: #02060A;
    background-color: #EEE9E3;
}

.add-more-pets:active {
    box-shadow: inset 0 4px 6px -2px rgba(0, 0, 0, 0.03), inset 0 12px 16px -4px rgba(0, 0, 0, 0.08);
}

.filter-pet-list-button.active {
    border-radius: 100px;
    font-size: 16px;
    border-color: transparent;
    outline: none;
    padding: 10px 16px;
    font-weight: 500;
    background-color: #EEE9E3;
}

/* Styles for Desktop devises */
@media only screen and (min-width: 1440px) {
    .pets-list-section h1 {
        margin-top: 80px;
        font-size: 48px;
    }

    .pets-section-subtitle {
        font-size: 18px;
    }

    .filter-pet-list {
        margin-top: 40px;
    }

    .filter-pet-list-button {
        font-size: 16px;
    }

    .pets-list {
        margin-top: 40px;
    }

    .add-more-pets {
        width: 192px;
        height: 48px;
    }
}

.loader {
    margin-top: 30px;
    width: 48px;
    height: 48px;
    border-radius: 50%;
    display: inline-block;
    border-top: 3px solid #88765C;
    border-right: 3px solid transparent;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
}

@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.hidden {
    display: none;
}

.loading-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.pets-list {
    display: flex;
    justify-content: center;
    align-items: stretch;
    flex-wrap: wrap;
    gap: 32px;
}

.pet-card {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
    border-radius: 16px;
    padding: 12px;
    width: 335px;
    height: auto;
    background-color: #EEE9E3;
    border: none;
}

.pet-card img {
    border-radius: 8px;
    width: 311px;
    height: 245px;
    object-fit: cover;
}

.pet-info-box {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 4px;
}

.pet-species {
    font-size: 10px;
}

.pet-name {
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    line-height: 1.4;
    letter-spacing: -0.01em;
}

.pet-filters {
    display: flex;
    flex-wrap: wrap;
    row-gap: 8px;
    column-gap: 4px;
    padding-bottom: 7px;
    height: auto;
}

.pet-filters li {
    display: flex;
    align-items: center;
    border: 1px solid rgba(255, 255, 255, 0);
    background-color: rgba(2, 6, 10, 0.05);
    border-radius: 100px;
    padding: 4px 10px;
    width: fit-content;
    height: 23px;
    font-weight: 600;
    font-size: 10px;
    line-height: 1.5;
}

.pet-info {
    display: flex;
    margin-top: auto;
    gap: 16px;
    font-size: 10px;
}

.pet-desc {
    font-size: 12px;
    text-align: left;
}

.pet-more-btn {
    border: 1px solid #02060A;
    background-color: transparent;
    border-radius: 8px;
    padding: 8px 20px;
    width: 100%;
    height: 40px;
    margin-top: auto;
    font-size: 14px;
    transition: border-color 0.2s ease, background-color 0.2s ease, box-shadow 0.2s ease;
}

.pet-more-btn:hover,
.pet-more-btn:focus {
    border-color: #02060A;
    background-color: #C3B49D;
}

.pet-more-btn:active {
    box-shadow: inset 0 4px 6px -2px rgba(0, 0, 0, 0.03), inset 0 12px 16px -4px rgba(0, 0, 0, 0.08);
}

.add-more-pets:disabled {
    opacity: 0.3;
}

@media only screen and (min-width: 1440px) {
    .pet-name {
        font-size: 24px;
    }

    .pet-species {
        font-size: 12px;
    }

    .pet-filters li {
        font-size: 12px;
    }

    .pet-filters {
        min-height: 47px;
    }

    .pet-info {
        display: flex;
        margin-top: auto;
        gap: 16px;
        font-size: 12px;
    }

    .pet-desc {
        font-size: 14px;
        text-align: left;
    }

    .pet-more-btn {
        font-size: 16px;
    }
}