.pets-list-section {
    text-align: center;
}

.pets-list-section h1 {
    margin-top: 64px;
    font-size: 36px;
    line-height: 1.2;
    letter-spacing: -0.01em;
}

@media screen and (min-width: 1440px) {
    .pets-list-section h1 {
        margin-top: 80px;
        font-size: 48px;
    }
}

.pets-list-section p {
    margin-top: 16px;
}

@media screen and (min-width: 1440px) {
    .pets-list-section p {
        font-size: 18px;
    }
}

.filter-pet-list {
    margin-top: 32px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 32px;
}

@media screen and (min-width: 1440px) {
    .filter-pet-list {
        margin-top: 40px;
    }
}

.filter-pet-list-button {
    border-radius: 100px;
    font-size: 14px;
    background-color: transparent;
    border-color: transparent;
    outline: none;
    padding: 10px 16px;
}

@media screen and (min-width: 1440px) {
    .filter-pet-list-button {
        font-size: 16px;
    }
}

.filter-pet-list-button:hover {
    font-weight: 500;
    background-color: #EEE9E3;
}

.pets-list {
    margin-top: 32px;
}

@media screen and (min-width: 1440px) {
    .pets-list {
        margin-top: 40px;
    }
}

.add-more-pets {
    margin-top: 40px;
    width: 335px;
    height: 45px;
    border: 1px solid #88765C;
    border-radius: 8px;
    padding: 12px 24px;
    background-color: #88765C;
    color: #FFFFFF;
}

.add-more-pets:hover {
    color: #02060A;
    background-color: #EEE9E3;
}