h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

p:last-child {
  margin-bottom: 0;
}


ol, ul {
  margin: 0;
}


a {
  color: currentColor;
  text-decoration: none;
}

button {
  cursor: pointer;
}

button,
input,
textarea {
  font-family: inherit;
  font-size: inherit;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}
