.feedbacks-section{
    padding: 64px 0;
}

.section-title{
    font-weight: 700;
    font-size: 36px;
    line-height: 1.2;
    letter-spacing: -0.01em;
    text-align: center;
    color: #02060a;
    margin-bottom: 24px;
}

.section-subtitle{
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    text-align: center;
    color: #02060a;
}

.slider-controls {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 32px;
}

.slider-navigation{
    display: flex;
    gap: 16px;
}


.swiper-button-prev,
.swiper-button-next {
    width: 48px;
    height: 48px;
    background-color: var(--button-bg-color);
    border: none;
    cursor: pointer;
    transition: background-color 0.3s, opacity 0.3s;
    border-radius: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    position: static;
    margin: 0;
}